node_modules/
npm-debug.log
.git
.gitignore
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
.coverage/
coverage/
__tests__/
.github/
.husky/
.eslintrc.js
.prettierrc
.editorconfig
jest.config.js
optimized/
raw-safari-images/
.env
*.log
